* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: url("../img/img-fundo-login.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.cabecalho-principal {
    width: 100%;
    height: 100px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    position: relative;
}

/* Menu header */
.menu-central  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 5px;
}

.menu-central ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-central a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-family: 'arial', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 8px;
}

.menu-central a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #56e546;
    box-shadow: 0 0 10px #56e546;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

.menu-central a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Icons */
.menu-icons {
   margin-left: auto;
   display: flex;
   gap: 20px;
   align-items: center;
}

.menu-icons a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 5px;
  display: inline-block;
}

.menu-icons a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #56e546;
    box-shadow: 0 0 10px #56e546;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.menu-icons a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}